
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%- include('../../shared/header-navbar')%>


    <main class="mdl-layout__content">
        <div class="page-content">
            <br>
            <div class="container">
                <%- include('../components/mostrar-tabla',
                {moteles: datos.moteles})%>
            </div>


        </div>
    </main>

    <%- include('../../shared/footer')%>
</div>








