
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%- include('../../shared/header-navbar')%>


<% console.log(datos) %>


    <main class="mdl-layout__content">
        <div class="page-content">
            <br>
            <a  href="/room/ruta/add-cuarto?motelId=<%= datos.motelId %>">
                <button
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored"
                        type="submit">
                    <i class="material-icons">add</i>
                    Nuevo Cuarto
                </button>

            </a>
            <br>
            <div class="container">
                <%- include('../components/mostrar-tabla',
                {rooms: datos.rooms, motelId: datos.motelId, usuario: datos.usuario})%>
            </div>


        </div>


    </main>

    <%- include('../../shared/footer')%>
</div>
